@import "Wheel_Style.scss";

@import "tiles_and_styles.scss";


/*
COLOR SCHEME
Navy blue: #013243
Dark purple: #442359
Baby blue: #75AADB
Powder blue: #B1C0DD
Dusty pink: #E7B6CC
Pastel pink: #ffd1dc
*/


body {
  text-align: center;
  background: #f3f3f3ff;
  display: block;
  font-family: 'Libre Franklin', sans-serif;;
  color: black;
  letter-spacing: 1px; 
  margin: 0;
  padding: 0; 
  top: 0;
  line-height: 150%;
}

header {
  background: #013243;
  position: fixed;
  top: 0;
  width: 100%;
  display: block; 
  padding: 15px; 
  z-index: 500;
}

header a {
  transition: 0.5s;
  float: right;
  margin-right: 2%;
  color: white;
  padding: 10px;
  font-size: 20px; 
  text-decoration: none;
}

header a:hover {
  transition: 0.5s;
  color: 2px;
  border-bottom: 3px solid white;
}

#profileButton {
  transition: 0.5s;
  float: right;
  margin-right: 2%;
  color: white;
  padding: 10px;
  font-size: 20px;
  text-decoration: none; 
}

#profileButton:hover {
  transition: 0.5s;
  color: 2px;
  border-bottom: 3px solid white; 
}

h3 {
  color: red;
}

#title {
  margin-left: -10em;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2.5em;
  font-weight: bolder;
  color: white;
  padding-left: 100px;
   }

#card1{
	background: #013243;
	padding-top: 10%;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
	width: 100%;
	font-family: 'Libre Franklin', sans-serif;
	color: white;
}

#cardHow{
  background:  #E7B6CC;
  padding-top: 5%;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  font-family: 'Libre Franklin', sans-serif;
  color: #22313F;
}

#card2{
	background: #75AADB;
	padding-top: 5%;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
	width: 100%;
	font-family: 'Libre Franklin', sans-serif;
	color: #22313F;
}

#card3{
	background:  #E7B6CC;
	padding-top: 5%;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
	width: 100%;
	font-family: 'Libre Franklin', sans-serif;
	color: #22313F;

}

#card4{
  background: #013243;
  padding-top: 10%;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  font-family: 'Libre Franklin', sans-serif;
  color: white;

}

#message{
	font-size: 5vw;
	line-height: 2em;
}

#submessage{
	font-size: 1.5vw;
	line-height: 1.45em;
	font-family: 'Georgia';
}

#icon{
  width:200px;
  height:200px;
}

.demoButton{
  width: 250px;
  height: 80px;
  font-family: 'Georgia';//Libre Franklin', sans-serif;
  font-size: 1.5em;
  text-decoration: none;
  background: #32BEA6;
  border-radius: 10px;
}

.demoButton a{
  width: 250px;
  height: 80px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1em;
  text-decoration: none;
}

.signButton{
  width: 400px;
  height: 80px;
  font-size: 1.4em;
  text-decoration: none;
  border-radius: 20px;
}

.signButton a{
  width: 400px;
  height: 80px;
  font-size: 1.4em;
  text-decoration: none;
  border-radius: 20px;
}

.tile{
  width: 20vw;
  height: 10vh;
  font-size: 1.2vw;
  background: #32BEA6;
  border-radius: 0px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-family: 'Georgia';

  -webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;
}

.tile:hover{
  background: #299b88;
}

.timeline {
    white-space:nowrap;
    overflow-x: scroll;
    padding:30px 0 10px 0;
    position:realtive;
}

.entry {
    display:inline-block;
    vertical-align:top;
    background: #B1C0DD;
    color:#013243;
    padding:10px;
    font-size:12px;
    text-align:center;
    position:relative;
    border-top:4px solid #06182E;
    border-radius:3px;
    min-width:200px;
    max-width:250px;
    white-space: normal;
}

.entry img {
    display:block;
    max-width:100%;
    height:auto;
    margin-bottom:10px;
}

.entry:after {
    content:'';
    display:block;
    background:#eee;
    width:7px;
    height:7px;
    border-radius:6px;
    border:3px solid #06182E;
    position:relative;
    left:50%;
    top:-140px;
    margin-left:-6px;
}

.entry:before {
    content:'';
    display:block;
    background:#06182E;
    width:5px;
    height:20px;
    position:relative;
    left:50%;
    top:-50px;
    margin-left:-2px;
}

.entry h1 {
    color: #013243;
    font-size:18px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight:bold;
    margin-bottom:10px;
}

.entry h2 {
    letter-spacing:.2em;
    margin-bottom:10px;
    font-size:14px;
}

.bar {
    height:4px;
    background:#eee;
    width:100%;
    position:relative;
    top:13px;
    left:0;
}


#nav {
	position: fixed;
	top: 30px;
	width: 100%;
	height: 50px;
	z-index: 99999;
	background-color: #60c2ff;
}

#bodyinfo {
	padding: 10px;
	background: white;
	margin-top: 10%;
}

#aboutdiv {
	
        left: 0;
        right: 0;
        padding: 15px;
	background: #f3f3f3ff;
}

#firstdiv {
	background: #013243;
	color: white;
}

#seconddiv {
	background: #442359;
	color: white;
}

#thirddiv {
	background: #75AADB;
	color: white;
}

#fourthdiv {
	background: #B1C0DD;
	color: white;
}

#fifthdiv {
	background: #E7B6CC;
	color: white;
}

div{
   font-family: 'Libre Franklin', sans-serif;
}

body {
	background-color: #013145;
}



input[type=userlog] {
   width: 300px;
   height: 30px;
   
}

input[type=passwordlog] {
   width: 300px;
   height: 30px;
}

input[type=password] {
   border-radius: 6px;
   width: 290px;
   height: 25px;
}

input[type=user] {
border-radius: 6px;
   width: 290px;
   height: 25px;
}

input[type=name] {
border-radius: 6px;
   width: 290px;
   height: 25px;
}

input[type=age] {
   border-radius: 6px;
   width: 290px;
   height: 25px;
}

input[type=city] {
border-radius: 6px;
   width: 290px;
   height: 25px;
}

input[type=email] {
border-radius: 6px;
   width: 290px;
   height: 25px;
}

select[type=edu] {
border-radius: 6px;
   width: 297px;
   height: 30px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}



button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: transparent 
  ;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}



button:hover[id="yeet"]{
  opacity: 0.7;
}
.timeButton
{
  width:none;
}
.dragbuttons{
  margin: -100px;
  width: 2000px;
}
.entry{
  position:relative;
}


#results{
  background-color: white;
  color: #013243;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Georgia';
  border-radius: 20px;
}

#results p{
  font-size: 1.2vw;
  color: #013243;
}



#locIcon{
  width: 10vw;
  height: 23vh;
}

.mountains{
  margin-top: 10vh;
  width: 30vw;
  height: 62vh;
}



#white{
  color: black;
  background: white;
  }

#mytimeline{
  color: red;
}