#menu {
  background:#B1C0DD;
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 300px;
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
    cursor: pointer;
}

#center {
  position: absolute;
  left: 240px;
  top: 240px;
  width: 120px;
  height: 120px;
  z-index: 10;
  background: white;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
    cursor: pointer;
}

#center a {
  display: block;
  width: 100%;
  height: 100%
}

.item {
/*   background: #E7B6CC; */
  overflow: hidden;
  position: absolute;
  width: 300px;
  height: 300px;
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transition: background .5s;
  -moz-transition: background .5s;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
}


/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
.item1 {
  background: #B1C0DD;
  z-index: 1;
  transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}

.item1:hover {
  background: #839ac9;
}


.item2 {
  background: #75AADB;
  z-index: 2;
  transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
}

.item2:hover {
  background:  #498fd0;
}

.item3 {
  background: #B1C0DD;
  z-index: 3;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.item3:hover {
  background: #839ac9;;
}

.item4 {
  background: #75AADB;
  z-index: 4;
  transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
}

.item4:hover {
  background: #498fd0;
}

.item5 {
  background: #B1C0DD;
  z-index: 5;
  transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
}

.item5:hover {
  background: #839ac9;;
}

.item6 {
  background: #75AADB;
  border: none;
  position: absolute;
  z-index: 6;
  transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
}

.item6:hover {
  background:  #498fd0;;
}

#wrapper6 {
  background: #B1C0DD;
  position: absolute;
  width: 300px;
  height:300px;
  overflow: hidden;
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
}

.item1 .content {
  left: 30px;
  top: 80px;
  transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
}

.item2 .content {
  left: 50px;
  top: 20px;
  transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
}

.item3 .content {
  left: -30px;
  top: 50px;
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.item4 .content {
  left: -50px;
  top: 30px;
  transform: rotate(-240deg);
  -moz-transform: rotate(-240deg);
  -webkit-transform: rotate(-240deg);
}

.item5 .content {
  left: -20px;
  top: 30px;
  transform: rotate(-300deg);
  -moz-transform: rotate(-300deg);
  -webkit-transform: rotate(-300deg);
}

.item6 .content {
  left: 10px;
  top: 50px;
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}

.content,
.content a {
  width: 100%;
  height: 100%;
  text-align: center;

}

.content {
  position: absolute;
}

.content a {
  line-height: 200px;
  display: block;
  position: absolute;
  text-decoration: none;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 23px;

}

.display-target {
  display: none;
  text-align: center;
  opacity: 0;
}

.display-target:target {
  display: block;
  opacity: 1;
  animation: fade-in 1s;
  -moz-animation: fade-in 1s;
  -webkit-animation: fade-in 1s;
  -o-animation: fade-in 1s;
  -ms-animation: fade-in 1s;
}



@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-moz-keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-o-keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-ms-keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}


/* Start of 9 wheel */


.item1_9 {
    background: red;
  z-index: 1;
  transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
}

.item2_9 {
  background: blue;
  z-index: 1;
  transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -webkit-transform: rotate(80deg);
}

.item3_9 {
    background: yellow;
  z-index: 1;
  transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
}

.item4_9 {
  background: red;
  z-index: 1;
  transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -webkit-transform: rotate(160deg);
}

.item5_9 {
    background: blue;
  z-index: 1;
  transform: rotate(200deg);
  -moz-transform: rotate(200deg);
  -webkit-transform: rotate(200deg);
}

.item6_9 {
  background: yellow;
  border: none;
  position: absolute;
  z-index: 1;
  transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
}

.item7_9 {
    background: red;
  z-index: 1;
  transform: rotate(280deg);
  -moz-transform: rotate(280deg);
  -webkit-transform: rotate(280deg);
}

.item8_9 {
    background: blue;
  z-index: 1;
  transform: rotate(320deg);
  -moz-transform: rotate(320deg);
  -webkit-transform: rotate(320deg);
}

.item9_9 {
  background: yellow;
  z-index: 1;
  transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
}

#wrapper9 {
  background: #B1C0DD;
  position: absolute;
  width: 300px;
  height:300px;
  overflow: hidden;
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
}


.item1_9 .content {
  left: -30px;
  top: 30px;
  transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
}

.item2_9 .content {
  left: -30px;
  top: 32px;
  transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -webkit-transform: rotate(-80deg);
}

.item3_9 .content {
  left: -14px;
  top: 50px;
  transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
}

.item4_9 .content {
  left: -10px;
  top: 46px;
  transform: rotate(-160deg);
  -moz-transform: rotate(-160deg);
  -webkit-transform: rotate(-160deg);
}

.item5_9 .content {
  left: -20px;
  top: 40px;
  transform: rotate(-200deg);
  -moz-transform: rotate(-200deg);
  -webkit-transform: rotate(-200deg);
}

.item6_9 .content {
  left: -20px;
  top: 40px;
  transform: rotate(-240deg);
  -moz-transform: rotate(-240deg);
  -webkit-transform: rotate(-240deg);
}

.item7_9 .content {
  left: -40px;
  top: 36px;
  transform: rotate(-280deg);
  -moz-transform: rotate(-280deg);
  -webkit-transform: rotate(-280deg);
}

.item8_9 .content {
  left: -20px;
  top: 40px;
  transform: rotate(-320deg);
  -moz-transform: rotate(-320deg);
  -webkit-transform: rotate(-320deg);
}

.item9_9 .content {
  left: 40px;
  top: -20px;
  transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
}

/* Start of 4 wheel */

.item1_4 {
    background: #B1C0DD;
  z-index: 1;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.item1_4:hover {
  background: #839ac9;
}

.item2_4 {
  background: #75AADB;
  z-index: 1;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.item2_4:hover {
  background:  #498fd0;
}

.item3_4 {
    background: #B1C0DD;
  z-index: 1;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.item3_4:hover {
  background: #839ac9;
}

.item4_4 {
  background: #75AADB;
  z-index: 1;
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.item4_4:hover {
  background:  #498fd0;
}

.item1_4 .content {
  left: 100px;
  top: 20px;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.item2_4 .content {
  left: 20px;
  top: 30px;
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.item3_4 .content {
  left: 40px;
  top: -30px;
  transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -webkit-transform: rotate(-270deg);
}

.item4_4 .content {
  left: 10px;
  top: 100px;


}

#wrapper4 {
  background: #B1C0DD;
  position: absolute;
  width: 300px;
  height:300px;
  overflow: hidden;
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
}


.item1_3 {
    background: #75AADB;
  z-index: 1;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.item1_3:hover {
  background: #498fd0;
}

.item2_3 {
  background: #75AADB;
  z-index: 1;
  transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -webkit-transform: rotate(160deg);
}

.item2_3:hover {
  background:  #498fd0;
}

.item3_3{
    background: #75AADB;
  z-index: 1;
  transform: rotate(285deg);
  -moz-transform: rotate(285deg);
  -webkit-transform: rotate(285deg);
}

.item3_3:hover {
  background: #498fd0;
}


.item1_3 .content {
  left: 130px;
  top: 40px;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.item2_3 .content {
  left: -20px;
  top: -10px;
  transform: rotate(-160deg);
  -moz-transform: rotate(-160deg);
  -webkit-transform: rotate(-160deg);
}

.item3_3 .content {
  left: 40px;
  top: 60px;
  transform: rotate(-285deg);
  -moz-transform: rotate(-285deg);
  -webkit-transform: rotate(-285deg);
}

#HEADER{
  color: white;
  font-size: 40px;
  line-height: 40px;

}

.item1_5 {
  background: #B1C0DD;
  z-index: 1;
  transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -webkit-transform: rotate(72deg);
}

.item1_5:hover {
  background: #839ac9;
}


.item2_5 {
  background: #75AADB;
  z-index: 2;
  transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -webkit-transform: rotate(144deg);
}

.item2_5:hover {
  background:  #498fd0;
}

.item3_5 {
  background: #B1C0DD;
  z-index: 3;
  transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -webkit-transform: rotate(216deg);
}

.item3_5:hover {
  background: #839ac9;;
}

.item4_5 {
  background: #9ae4d8;
  z-index: 4;
  transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -webkit-transform: rotate(288deg);
}

.item4_5:hover {
  background: #5ed4c0;
}

.item5_5 {
  background: #75AADB;
  z-index: 5;
    transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);

}

.item5:hover {
  background: #498fd0;;
}


#wrapper5 {
  background: #B1C0DD;
  position: absolute;
  width: 300px;
  height:300px;
  overflow: hidden;
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
}

.item1_5 .content {
  left: 60px;
  top: -40px;
  transform: rotate(-72deg);
  -moz-transform: rotate(-72deg);
  -webkit-transform: rotate(-72deg);
}

.item2_5 .content {
  left: 2px;
  top: -20px;
  transform: rotate(-144deg);
  -moz-transform: rotate(-144deg);
  -webkit-transform: rotate(-144deg);
}

.item3_5 .content {
  left: -80px;
  top: 60px;
  transform: rotate(-216deg);
  -moz-transform: rotate(-216deg);
  -webkit-transform: rotate(-216deg);
}

.item4_5 .content {
  left: -20px;
  top: 70px;
  transform: rotate(-288deg);
  -moz-transform: rotate(-288deg);
  -webkit-transform: rotate(-288deg);
}

.item5_5 .content {
  left: 100px;
  top: 100px;
  transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
}


.content b {
  line-height: 200px;
  display: block;
  position: absolute;
  text-decoration: none;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 17px;

}

.content c {
  line-height: 200px;
  display: block;
  position: absolute;
  text-decoration: none;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 15px;

}
